header {
    height: 100px;
    display: flex;
    align-items: center;
    background: deeppink;
}

header > img {
    height: 80%;
    margin-left: 10%;
}

header > p {
    font-family: VT323, monospace;
    color: whitesmoke;
    font-size: 50px;
    margin-left: 60px;
}

.meme {
    position: relative;
    width: 90%;
    margin: auto;
    text-align: center;
    background-size: 100%;
}

.meme > img {
    width: 80%;
}

.meme > h2 {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 10%;
    text-transform: uppercase;
    font-family: impact, fantasy;
    font-size: 2.5em;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;

}

.meme-form > button {
    border: none;
    font-family: VT323, monospace;
    font-size: 25px;
    letter-spacing: 2px;
    color: white;
    background: deeppink;
    margin: 10px;
    padding: auto;
}

.meme-form > input::-webkit-input-placeholder {
    font-family: VT323, monospace;
    font-size: 15px;
    text-align: center;
    position: center;
    width: 25%;
}

.meme-form > input::-moz-placeholder {
    font-family: VT323, monospace;
    font-size: 15px;
    text-align: center;
    position: center;
    width: 25%;
}

.meme-form > input {
    width: auto;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 10px 10px;
    margin: 8px 0;
    position: center;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}
